body {
  font-size: 1.5em;
}
.container{
  display:flex;
  flex-direction: column;
  height:100vh;
}
.navbar {
  background-color: #2be271;
  line-height: 3rem;
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:flex-end;
}
nav a {
  color: #fffaf0;
}
header {
  background-color: blue;
}
a {
  text-decoration: chartreuse;
}
footer ul {
  list-style-type: lower-roman;

}
dislay:flex;
justify-content:center;
}
footer ul li{
  margin-right o.5em;
}
footer p{
  color:chocolate
  text-align: center;
}